* @communistjesus

# * @redsparkcommunists/engineersh

# editorial board manages events and articles, but uh this needs to be migrated to a org repo first
# /events/ @redsparkcommunists/editorialboard
# /articles/ @redsparkcommunists/editorialboard
# /articles-images/ @redsparkcommunists/editorialboard
# /event-images/ @redsparkcommunists/editorialboard