{% extends "base.html" %}

{% block content %}
{% set data = load_data(path="templates/shortcodes/usage.md") -%}
<main style="width: 100vw;">
    <section style="margin: 0 auto; width: 90%;">
        <form action="/api/content/{{config.extra.group_location}}/articles/pr" method="post" id="article-form" enctype="multipart/form-data">
            <div class="border-b border-gray-900/10 pb-12 center-text">

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-6 max-w-full flex align-center flex-col itemsx-center">
                        <label for="title" class="block">Title</label>
                        <div class="w-full max-w-xs">
                            <input required id="title" type="text" name="title"
                            value="Example Article"
                                class="max-w-full block rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                        </div>
                    </div>

                    <div class="sm:col-span-6 max-w-full">
                        <label for="authors" class="block">Authors (comma separated: Malcom X,Layla Khaled,Antonio Gramsci)</label>
                        <div class="w-full max-w-xs">
                            <input required id="authors" type="text" name="authors"
                            value="E,Editorial Board"
                                class="max-w-full block rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                        </div>
                    </div>

                    <div class="sm:col-span-6 max-w-full">
                        <label for="image" class="block">Image</label>
                        <div class="w-full max-w-xs">
                            <input required id="image" type="file" name="image"
                                class="max-w-full block rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                        </div>
                    </div>

                    <div class="sm:col-span-6 max-w-full">
                        <label for="image_alt" class="block">Image Description (be kind to the blind)</label>
                        <div class="w-full max-w-xs">
                            <input required id="image_alt" type="text" name="image_alt"
                            value="A red sickle and hammer symbolizing unity and stength of the international working class"
                                class="max-w-full block  rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                        </div>
                    </div>
                </div>
            <textarea name="data" id="data"></textarea>
            <div class="cf-turnstile" data-sitekey="{{config.extra.turnstile_key}}"></div>

        </form>
        <script type="module">
            import { binaryInlined } from 'https://unpkg.com/harper.js@2.4.0/dist/binaryInlined.js';
            import { WorkerLinter } from 'https://unpkg.com/harper.js@2.4.0/dist/index.js';
            const linter = new WorkerLinter({ binary: binaryInlined });
            let d = "{{data | json_encode}}";



            d = d.replace(/(?<!\\)\\([{\%}])/g, "$1");
            d = d.replaceAll("\\\\", "\\");
            d = d.replaceAll("&gt;", ">");
            d = d.replaceAll("&nbsp;", " ");
            d = d.replaceAll("&amp;", "&");
            d = d.replaceAll("&#x27;", "'");

            document.getElementById("data").addEventListener("change", (e) => console.log(e));

            const simplemde = new EasyMDE({
                autofocus: true,
                autosave: {
                    enabled: true,
                    uniqueId: "data",
                    delay: 1000,
                }, element: document.getElementById("data"),
                initialValue: d.replaceAll("&quot;", ""),
                previewRender: function (plainText, p) {
                    const re = /\{\% highlight\(\) \%\}\n(.*)\n\{\% end \%\}/g;
                    // replaceall with function does not work?
                    plainText = plainText.replaceAll(re, "<div class='highlight'>$1</div>");
                    plainText = plainText
                        // like so[^1] -> <a href="#1">like so</a>
                        .replace(/^(.+?)\[\^([^\]]+)\]$/gm, '<a href="#$2">$1</a>')
                        // [^1]: reference text -> <span id="1">1: reference text</span>
                        .replace(/^\[\^([^\]]+)\]:\s*(.*)$/gm, '<span id="$1">$1: $2</span>');
                        console.log(document.querySelector("#title").textContent);
                    return "<h1>" + document.querySelector("#title").textContent + "</h1>" + this.parent.markdown(plainText);
                },
                renderingConfig: {
                    singleLineBreaks: false,
                    codeSyntaxHighlighting: true,
                    // sanitizerFunction: (renderedHTML) => {
                    //     console.log(renderedHTML);
                    //     // Using DOMPurify and only allowing <b> tags
                    //     return DOMPurify.sanitize(renderedHTML, { ALLOWED_TAGS: ['b'] })
                    // },
                },
                lineNumbers: true,
                toolbar:
                    ["bold",
                        "italic",
                        "heading",
                        "quote",
                        "ordered-list",
                        "link",
                        "image",
                        "preview",
                        "side-by-side",
                        "fullscreen", {
                            name: "submit",
                            action: (editor) => {
                                document.querySelector("#article-form").requestSubmit();
                            },
                            className: "fa fa-star",
                            text: "Submit to board",
                            title: "Submit article to board",
                        }]
            });

            const grammarMarks = [];

            const validateGrammar = () => {
                const v = simplemde.value();
                const cm = simplemde.codemirror;

                linter.lint(v).then((lints) => {
                    const list = document.getElementById('errorlist');

                    list.innerHTML = '';
                    for (const mark of grammarMarks) {
                        mark.clear();
                    }
                    grammarMarks.length = 0;

                    for (const lint of lints) {
                        const span = lint.span();

                        const from = cm.posFromIndex(span.start);
                        const to = cm.posFromIndex(span.end);

                        grammarMarks.push(
                            cm.markText(from, to, {
                                className: 'harper-lint',
                                title: lint.message()
                            })
                        );

                        const item = document.createElement('li');

                        item.textContent =
                            `${from.line + 1}:${from.ch + 1} — ${lint.message()}`;

                        item.addEventListener('click', () => {
                            cm.focus();
                            cm.setSelection(from, to);
                            cm.scrollIntoView({ from, to }, 100);
                        });

                        list.appendChild(item);
                    }
                });
            };

            validateGrammar();
            simplemde.codemirror.on("change", () => {
                validateGrammar();
            });
        </script>

        <h3>Errors</h3>

        <ul id="errorlist" class="mb-4">
            Loading...
        </ul>
    </section>
</main>
{% endblock content %}